<div class="page-wrapper">
			<!--page-content-wrapper-->
			<div class="page-content-wrapper">
				<div class="page-content">
					<!--breadcrumb-->
					
					<!--end breadcrumb-->
						<div class="card radius-15">
						<div class="card-body">
							<div class="card-title">
								<h4 class="mb-0 text-dark">All Users</h4>
							</div>
							<hr/>
							<div class="table-responsive">
								<table class="table">
									<thead class="thead-dark">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Name</th>
											<th scope="col">E-mail</th>
											<th scope="col">Phone</th>
											<th scope="col">Refferals</th>
											<th scope="col">Verification</th>
											<th scope="col">Document</th>
											<th scope="col">Payment</th>
										</tr>
									</thead>
									<tbody>
										{{#each users}}
										<tr>
											
											<th scope="row">{{math @index "+" 1}}</th>
											<td>{{name}}</td>
											<td>{{email}}</td>
											<td>{{phone}}</td>
											<td>{{referrals}}</td>
											{{#if verify}}
											<td><button type="button" class="btn btn-success m-1 px-5 radius-30">Verified</button></td>
											{{else}}
											<td><button type="button" class="btn  m-1 px-5 radius-30" style="background-color: red;">Pending</button></td>
											{{/if}}
											{{#if document}}
											<td><button type="button" class="btn btn-success m-1 px-5 radius-30">Verified</button></td>
											{{else}}
											<td><button type="button" class="btn  m-1 px-5 radius-30" style="background-color: red;">Pending</button></td>
											{{/if}}
											{{#if Payment}}
											<td><button type="button" class="btn btn-success m-1 px-5 radius-30">Verified</button></td>
											{{else}}
											<td><button type="button" class="btn  m-1 px-5 radius-30" style="background-color: red;">Pending</button></td>
											{{/if}}
											
										</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>		</div>