<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>RoYalHuB-Admin</title>
	<!--favicon-->
	<link rel="icon" href="/assets/images/favicon-32x32.png" type="image/png" />
	<!-- Vector CSS -->
	<link href="/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
	<!--plugins-->
	<link href="/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<!-- loader-->
	<link href="/assets/css/pace.min.css" rel="stylesheet" />
	<script src="/assets/js/pace.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
	<!-- Icons CSS -->
	<link rel="stylesheet" href="/assets/css/icons.css" />
	<!-- App CSS -->
	<link rel="stylesheet" href="/assets/css/app.css" />
	<link rel="stylesheet" href="/assets/css/dark-sidebar.html" />
	<link rel="stylesheet" href="/assets/css/dark-theme.html" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>
	<style>
		.wallet-container {

			width: 720px;
			color: #fff;
			font-size: 15px;
			padding: 20px 20px 0;
			top: 55%;
			left: 50%;
			margin: auto;
			background-color: #1d4354;
			border-radius: 6px;

			box-shadow: 0 2px 4px black;

		}

		.page-title {
			text-align: left;
		}

		.fa-user {
			float: right;
		}

		.fa-align-left {
			margin-right: 15px;
		}

		.amount-box img {
			width: 50px;
		}

		.amount {
			font-size: 35px;
		}

		.amount-box p {
			margin-top: 10px;
			margin-bottom: -10px;
		}

		.btn-group {
			margin: 20px 0;
		}

		.btn-group .btn {
			margin: 8px;
			border-radius: 20px !important;
			font-size: 12px;
		}

		.txn-history {
			text-align: left;
		}

		.txn-list {
			background-color: #fff;
			padding: 12px 10px;
			color: #777;
			font-size: 14px;
			margin: 7px 0;
		}

		.debit-amount {
			color: red;
			float: right;
		}

		.credit-amount {
			color: green;
			float: right;

		}

		.footer-menu {
			margin: 20px -20px 0;
			bottom: 0;
			border-top: 1px solid #ccc;
			padding: 10px 10px 0;
		}

		

		@media screen and (max-width: 800px) {
			.wallet-container {
				height: 115%;
				bottom: 20px;
				margin-top: 100px;
			}

		}
	</style>
</head>

<body>
	<!-- wrapper -->
	<div class=>
		<!--page-content-wrapper-->
		<div class="page-content-wrapper"
			style="margin-left: 150px!important; margin-right:100px!important; margin-top:40px!important; ">
			<div class="page-content">
				<div class="user-profile-page">
					<div class="card radius-15">
						<div class="card-body">
							<div class="row">
								<div class="col-12 col-lg-7 border-right">
									<div class="d-md-flex align-items-center"
										style="margin-left: 20px;margin-top:20px;">
										<div class="mb-md-0 mb-3">
											<img src="assets/images/avatars/avatar-1.png" class="rounded-circle shadow"
												width="130" height="130" alt="" />
										</div>
										<div class="ml-md-4 flex-grow-1">
											<div class="d-flex align-items-center mb-1">
												<h4 class="mb-0" style="color: black;"><b>{{userData.name}}</b></h4>

											</div>
											<p class="mb-0" style="color: black;"><b>{{userData.email}}</b></p>
											<span class="badge badge-success">Verified</span>

										</div>

									</div><br>

									<a href="#">
										<p class="mb-0 ml-5"
											style="color: black;text-decoration:none; padding-left:20px">Edit Profile
										</p>
									</a>
								</div>
								<div class="col-12 col-lg-5" style="margin-top:20px;">
									<table class="table table-sm table-borderless mt-md-0 mt-3" style="border:none">
										<tbody style="border:none">
											<tr>
												<th style="border:none">Document Verification:</th>
												<td style="border:none"> {{#if userData.document}} <span
														class="badge badge-success">Verified</span>{{else}}
													<span class="badge badge-danger">pending</span>{{/if}}
												</td>
											</tr>
											<tr>
												<th style="border:none">Phone:</th>
												<td style="border:none">{{#if userData.document}} <span
														class="badge badge-success">Verified</span>{{else}}
													<span class="badge badge-danger">pending</span>{{/if}}
												</td>
											</tr>
											<tr>
												<th style="border:none">Referrals:</th>
												<td style="border:none">2</td>
											</tr>
											<tr>
												<th style="border:none">Invite Link:</th>
												<td style="border:none"><input type="text" value="{{inviteLink}}"
														id="myInput" readonly>
													<button class="btn btn-success" onclick="myFunction()">Copy
														link</button>
												</td>
											</tr>
										</tbody>
									</table>
									<div class="mb-3 mb-lg-0"> <a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-github'></i></a>
										<a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-twitter'></i></a>
										<a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-facebook'></i></a>
										<a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-linkedin'></i></a>
										<a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-dribbble'></i></a>
										<a href="javascript:;" class="btn btn-sm btn-link"><i
												class='bx bxl-stack-overflow'></i></a>
									</div>
								</div>
							</div>
							<hr style="background-color: black;" /> <br>
							<h1 style="text-align: center;color:#1d4354;"><b>Wallet</b></h1><br>
							<div class="wallet-container text-center">
								<p class="page-title"><i class="fa fa-align-left"></i>My E-wallet<i
										class="fa fa-user"></i></p>

								<div class="amount-box text-center">
									<img src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw"
										alt="wallet">
									<p>Total Balance</p>
									<p class="amount">$ {{math userData.wallet.refferalAmount "+" userData.wallet.bonusAmount
}}</p>
								</div>
								<div class="footer-menu">
								</div>
								<br>
								<div>
									<h3>Referral Bonus : $ {{userData.wallet.refferalAmount}}</h3><br>
									<h3>Additional Bonus : $ {{userData.wallet.bonusAmount
}}</h3><br>

								</div>
								<div class="footer-menu">
								</div>
									<div class="btn-group text-center">
			{{!-- <button type="button" class="btn btn-outline-light">Add Money</button> --}}
			<button type="button" class="btn btn-outline-light">Widthdraw</button>
			</div>
					{{!-- <div class="card radius-15">
						<div class="card-body">
							<button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal3">Centered Modal</button>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">	<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary">Save changes</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div> --}}
					{{!-- <button type="button" class="btn btn-primary radius-30 px-5 m-3" data-toggle="modal" data-target="#exampleModal8">Card Modal</button>
							<!-- Modal -->
							<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered">
									<div class="modal-content">
										<div class="">
											<div class="card mb-0">
												<img src="assets/images/gallery/01.jpg" class="card-img-top" alt="...">
												<div class="card-body">
													<h5 class="card-title">Card title</h5>
													<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> <a href="#" class="btn btn-primary">Go somewhere</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div> --}}
							<br><br>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
		<!--end page-content-wrapper-->
	</div>
	<script src="/assets/js/jquery.min.js"></script>
	<script>
		function myFunction() {
			var copyText = document.getElementById("myInput");
			copyText.select();
			copyText.setSelectionRange(0, 99999)
			document.execCommand("copy");
			alert("Link copied");
		}
	</script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="/assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-in-mill.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-us-aea-en.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-uk-mill-en.js"></script>
	<script src="/assets/plugins/vectormap/jquery-jvectormap-au-mill.js"></script>
	<script src="/assets/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
	<script src="/assets/js/index2.js"></script>
	<script src="/assets/js/app.js"></script>
</body>

</html>